In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("dataset.csv")

In [4]:
data.head()

,From Date,To Date,NO,NO2,NOx,Ozone,CO,NH3,PM10,PM2.5,Benzene,SO2
0,01-01-2017 00:00,02-01-2017 00:00,155.50,48.37,151.97,NaN,NaN,217.66,568.56,524.70,NaN,NaN
1,02-01-2017 00:00,03-01-2017 00:00,139.47,46.49,137.99,NaN,NaN,205.60,434.06,374.07,NaN,NaN
2,03-01-2017 00:00,04-01-2017 00:00,142.26,50.00,142.23,NaN,NaN,209.59,250.28,167.58,NaN,NaN
3,04-01-2017 00:00,05-01-2017 00:00,198.93,54.62,190.66,NaN,NaN,272.34,239.79,179.03,NaN,NaN
4,05-01-2017 00:00,06-01-2017 00:00,153.33,60.19,156.64,NaN,NaN,230.84,239.06,185.73,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2454 entries, 0 to 2453
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   From Date  2454 non-null   object
 1   To Date    2454 non-null   object
 2   NO         2302 non-null   float64
 3   NO2        2334 non-null   float64
 4   NOx        2335 non-null   float64
 5   Ozone      1910 non-null   float64
 6   CO         1918 non-null   float64
 7   NH3        2341 non-null   float64
 8   PM10       2071 non-null   float64
 9   PM2.5      2359 non-null   float64
 10  Benzene    1782 non-null   float64
 11  SO2        1901 non-null   float64
dtypes: float64(10), object(2)
memory usage: 230.2+ KB

In [6]:
data.describe()

,NO,NO2,NOx,Ozone,CO,NH3,PM10,PM2.5,Benzene,SO2
count,2302.000000,2334.000000,2335.000000,1910.000000,1918.000000,2341.000000,2071.000000,2359.000000,1782.000000,1901.000000
mean,46.653189,46.816907,60.815602,23.530068,1.691335,47.656830,176.674051,110.977711,6.576515,12.304298
std,44.025346,38.927769,49.816035,14.363150,1.166835,46.294588,99.776154,85.040482,7.834117,9.617364
min,0.080000,0.180000,0.000000,0.890000,0.000000,0.590000,14.920000,0.760000,0.000000,0.030000
25%,17.990000,22.367500,27.490000,13.312500,0.870000,20.730000,100.060000,52.235000,1.250000,6.270000
50%,32.290000,34.675000,45.100000,19.015000,1.380000,33.680000,160.690000,84.270000,3.725000,9.740000
75%,57.827500,58.120000,76.180000,31.047500,2.230000,54.920000,231.135000,143.890000,9.720000,15.730000
max,416.840000,479.060000,414.680000,102.160000,10.320000,349.080000,691.840000,743.750000,103.750000,111.030000

In [9]:
data.isna().sum()

From Date      0
To Date        0
NO           152
NO2          120
NOx          119
Ozone        544
CO           536
NH3          113
PM10         383
PM2.5         95
Benzene      672
SO2          553
dtype: int64

In [11]:
nomean=data["NO"].mean()
data["NO"].fillna(nomean,inplace=True)

In [12]:
no2mean=data["NO2"].mean()
data["NO2"].fillna(no2mean,inplace=True)

In [14]:
noxmean=data["NOx"].mean()
data["NOx"].fillna(noxmean,inplace=True)

In [15]:
ozonemean=data["Ozone"].mean()
data["Ozone"].fillna(ozonemean,inplace=True)

In [16]:
comean=data["CO"].mean()
data["CO"].fillna(comean,inplace=True)

In [17]:
nh3mean=data["NH3"].mean()
data["NH3"].fillna(nh3mean,inplace=True)

In [18]:
pm10mean=data["PM10"].mean()
data["PM10"].fillna(pm10mean,inplace=True)

In [19]:
pm25mean=data["PM2.5"].mean()
data["PM2.5"].fillna(pm25mean,inplace=True)

In [20]:
benzenemean=data["Benzene"].mean()
data["Benzene"].fillna(benzenemean,inplace=True)

In [21]:
somean=data["SO2"].mean()
data["SO2"].fillna(somean,inplace=True)

In [22]:
data.isna().sum()

From Date    0
To Date      0
NO           0
NO2          0
NOx          0
Ozone        0
CO           0
NH3          0
PM10         0
PM2.5        0
Benzene      0
SO2          0
dtype: int64